@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
    color: #3a3838;
}

/* headings and logo */

#logo {
    float: left;
    margin-left: 20px;
    margin-top: 8px;
}

#logo a {
    width: 120%;
}

/* navigation links (menu) */
#menu {
    font-size: 100%;
    letter-spacing: 3px;
    font-weight: bold;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 20px;
}

#logo, #menu {
    line-height: 60px;
}

#menu a {
    text-decoration: none;
    color: #000;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #000;
}

/*social media network*/
.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin-top: 0.7%;
    padding: 25px;
    color: #000;
}

/* animation when hover over */

.grow li {
    transition: all 1s ease-in-out;
}
li :hover {
    transform: scale(1.3);
}

/* hero image and cover text */

#hero-colection {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 0 auto;
}

#top-cars {
    height: 800px;
    width: 100%;
    background: url(../images/top-cars.png) no-repeat center center;
    background-size: cover;

/*Animation when you load page*/
    animation: hero-zoom 3s;
    animation-fill-mode: forwards;
    
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
    
}

/* Cover text header */

#welcome {
    color: #fffffff6;
    font-size: 150%;
    text-align: center;
    font-family:  'Bebas Neue', cursive;
    letter-spacing: 5px;
}

#logo2 {
    padding: 0 auto;
    padding-left: 9%;
    width: 100%;
    
}

#cover-text {
    font-size: 130%;
    font-family: Public Sans;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 400px;
    height: 180px;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #1717178c;

    bottom: 330px;
    right: 750px;

    position: absolute;
}

/* hyperlinks & description */

#content {
    display: block;
    padding-top: 20px;
    padding-left: 750px;
}

.text-content {
    padding-top: 2px;
    padding-left: 95px;
}
hr {
    border-top: 1px solid #d6d6d6;
    width: 50%;
    margin-left: 25%;
    margin-top: 3%
}

/* Car Logos*/

#logo-hyperlink  img :hover{
    transform: scale(1.1);
} 

#logo-hyperlink img {
    width: 20%;
    height: auto;
    margin-top: 10px;
    margin-left: 20px;
}

#ferla .ferrari img {
    width: 5%;
    height: auto;
    margin-top: 1%;
    margin-left: 28.5%;
    margin-bottom: 50px;
}

#ferla .lamborghini img {
    width: 14%;
    height: auto;
    margin-top: 1px;
    margin-left: 32%;
    margin-bottom: 30px;
}

#bula .bugatti img {
    width: 10%;
    height: auto;
    margin-top: 1%;
    margin-left: 75%;
}

#mabe .bentley img {
    width: 8%;
    height: auto;
    margin-left: 49%;
    margin-top: 1%;
}

#bula .land-rover img {
    width: 10%;
    height: auto;
    margin-left: 4%;
}

#mclarenn .mclaren img {
    width: 10%;
    height: auto;
    margin-top: 0 auto;
    margin-left: 45%;
}

#rome .mercedes img {
    width: 6.5%;
    height: auto;
    margin-top: 1%;
    margin-left: 18%
}

#popa .pagani img {
    width: 9%;
    height: auto;
    margin-left: 52%;
    margin-top: 1%;
}

#popa .porsche img {
    width: 6%;
    height: auto;
    margin-left: 17.7%;
    margin-top: 1%;
}

#rome .rolls-royce img {
    width: 13%;
    height: auto;
    margin-top: 1%;
    margin-left: 32%;
}

#tesla .tesla-pic img {
    width: 5%;
    height: auto;
    margin-top: 1%;
    margin-left: 47.9%;
}

#mabe .aston-martin img{
    width: 11%;
    height: auto;
    margin-left: 16%;
}

#context-logo {
    text-align: center;
    float: inherit;
}
.cotext {
    padding-bottom: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.paragraph{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
}
.btn {
    background-color: #000;
    color: #FFD700;
    padding: 14px 28px;
    font-size: 22px;
    font-family: 'Bebas Neue';
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
} 
.btn:hover {
    background-color: #FFD700;
    color: #000;
    border-radius: 8px;
}

/*Slider-Container*/
#slider-text {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 0.5%;
    font-family: 'Bebas Neue', cursive;
}
body {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    padding: 0 auto;
  }
  img {
    max-width: 80%;
  }
  .slider-container {
    height: 85%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    text-align: center;
  }
  .menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 0.2em 1em;
  }
  .menu label:hover,
  .menu label:focus {
    background: #1c87c9;
  }
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s 0.75s;
  }
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
  }
  .slide-1 {
    background-image: url("../images/slide3\ \(1\).png");
  }
  .slide-2 {
    background-image: url("../images/slide3\ \(2\).png");
  }
  .slide-3 {
    background-image: url("../images/slide3\ \(3\).png");
  }
  .slide-4 {
    background-image: url("../images/slide3\ \(4\).png");
  }
  .slide-5 {
      background-image: url("../images/slide3\ \(5\).png");
  }

  .paragraph-slider {
      font-family: 'Bebas Neue', cursive;
      font-size: solid;
      padding-top: 45%;
      text-align: center;
      letter-spacing: 2px;
  }

/*Slider-container end*/

/*Google Maps*/

#map {
    padding-top: 5%;
    padding-bottom: 0 auto;
}

/*footer*/

.footer {
    background: #171717b9;
    width: 100%;
    height: 251px; 
}

#footer1 {
    text-align: center;
    color: whitesmoke;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    padding-top: 6%;
}

#right-about-footer {
    float: right;
    font-family: 'Bebas Neue', cursive;
    margin-right: 2%;
    margin-top: 0 auto;
    color:whitesmoke;
    list-style-type: 0;
    text-decoration: none;
}
#right-about-footer h2 {
    padding-top: 30px;
}
#right-about-logo{
    text-align: center;
    padding-left: 5.1%;
}

#paragraph-footer {
    text-align: center;
    padding-left: 5.6%;
}

#left-about-footer {
    font-size: 100%;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    margin-left: 2%;
    margin-top: 0 auto;
}

#left-about-footer ol {
    float: left;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 40px;
}

#left-about-footer a {
    text-decoration: none;
    color: whitesmoke;
}

#left-about-footer a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.active {
    border-bottom:1px solid rgb(255, 255, 255);
} 

/* ABOUT US PAGE */

/*hero image and cover text*/

#hero-mclaren {
    background: url(../images/hero-mclaren.png) no-repeat center center;
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 1%;

    animation: hero-zoom 3s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-mclaren {
    float: right;
    font-size: xxx-large;
    font-family: 'Bebas Neue', cursive;
    color: whitesmoke;
    margin-top: 20%;
    margin-right: 35%;

}

/*content about-us*/

#cover-text-aboutus {
    padding-top: 3%;
    text-align: center;
    padding-bottom: 4px;
}

#cover-text-aboutus h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
}

#cover-text-aboutus pre {
    font-size: 20px;
    font-family: 'Cuprum', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
}

#block-pre1 {
    text-align: center;
}

/* Contact Us Page */
#hero-contact {
    background: url(../images/hero-contact.png) no-repeat center center;
    height: 550px;
    width: 95.3%;
    overflow: hidden;
    position: relative;
    margin-top: 1%;
    margin-bottom: 3%;

    animation: hero-zoom 3s;
    animation-fill-mode: forwards;
}
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-contact {
    float: right;
    font-size: xxx-large;
    font-family: 'Bebas Neue', cursive;
    color: whitesmoke;
    margin-top: 22%;
    margin-right: 10%;

}

.footer {
    margin-top: 0 auto;
}

#map-and-details iframe {
    width: 40%;
    height: 450px;
    border-style: 2;
    border-top: 50%;
}

.contact-us-details h1 {
    font-size: 50px;
    margin-left: 20%;
    font-family: 'Bebas Neue', cursive;
}

.contact-us-details p {
    font-size: 5px;
    margin-left: 20%;
    font-family: 'Bebas Neue', cursive;
}

/*contact-details*/

#introduction {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
}

#contact-details{
    height: 600px;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    letter-spacing: 1px;

}

#left-contact{
    padding-top: 30px;
    width: 22%;
    float: left;
}

#right-contact {
    padding-top: 30px;
    width: 22%;
    float: right;
}

#center-contact {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-contact-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-contact-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-contact-heading p {
    text-align: right;
}

.right-contact-heading h2 {
    text-align: right;
}

#center-logo {
    background: url(../images/luxury-cars.png) no repeat center center;
    height: 100%;
    padding-top: 25%;
    padding-left: 7%; 
    width: 100%;
}

#find {
    margin-top: 1%;
    margin-left: 0 auto;
    margin-right: 3%;
    margin-bottom: 5%;
}

#find h1 {
    margin-left: 43%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

#find h2 {
    text-align: left;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 70px;
}

#find p {
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-left: 5%;
}

#find hr {
    width: 70%;
    margin-left: 5%;
}

/*book a test drive*/

#hero-test-drive {
    background: url(../images/bookadrivetest.png) no-repeat center center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
}

#test-drive-now {
    float: left;
    font-size: xxx-large;
    font-family: 'Bebas Neue', cursive;
    color: whitesmoke;
    margin-top: 5%;
    margin-left: 7%;

}

/*forum book a test drive*/

input[type=text], [type=email], select, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(34, 34, 34, 0.699);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: whitesmoke;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 10px;
    background-color: #868686;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 12%;
    margin-bottom: 0%;
}

#booking {
    color: rgba(34, 34, 34, 0.699);
}

/*Gallery pictures*/

#hero-gallery {
    background: url(../images/car-with-sky.png) no-repeat center center;
    height: 450px;
    width: 95.3%;
    overflow: hidden;
    position: relative;
    margin-top: 1%;
    margin-bottom: 3%;

    animation: gallery-zoom 3s;
    animation-fill-mode: forwards;
}

@keyframes gallery-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-gallery {
    float: right;
    font-size: xxx-large;
    font-family: 'Bebas Neue', cursive;
    color: rgba(0, 0, 0, 0.637);
    margin-top: 15%;
    margin-right: 10%;

}

/*slider containers*/
