@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Public Sans', sans-serif;
    color: #3a3838;
}

/* headings and logo */

#logo {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}

#logo img {
    width: 300px;
    height: 63px;
}

#logo a {
    width: 120%;
}

/* navigation links (menu) */
#menu {
    font-size: 100%;
    letter-spacing: 3px;
    font-weight: bold;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#logo,
#menu {
    line-height: 60px;
}

#menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#menu a:hover {
    border-bottom: 1px solid rgb(69, 39, 88);
    color: rgb(119, 0, 255)
}

.active {
    border-bottom: 1px solid #000;
}

/*social media network*/
.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 25px;
    color: #000;
}

/* animation when hover over */

.grow li {
    transition: all 1s ease-in-out;
}

li :hover {
    transform: scale(1.3);
}

/* hero image and cover text */

#hero-colection {
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 0;
}

#top-cars {
    height: 750px;
    width: 100%;
    background: url(../images/top-cars.webp) no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;

    /*Animation when you load page*/
    animation: hero-zoom 3s;
    animation-fill-mode: forwards;

}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

/* Cover text header */

#welcome {
    color: #fffffff6;
    font-size: 150%;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
}

#logo2 {
    padding: 0;
    padding-left: 9%;
    width: 100%;

}

#cover-text {
    font-size: 130%;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 400px;
    height: 180px;
    padding-bottom: 20px;
    background-color: #1717178c;
    bottom: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* hyperlinks & description */

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.text-content {
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
}

hr {
    border-top: 1px solid #d6d6d6;
}

/* Car Logos*/

#logo-hyperlink img :hover {
    transform: scale(1.1);
}

#logo-hyperlink img {
    width: 20%;
    margin-top: 10px;
    margin-left: 20px;
}

#ferla .ferrari img {
    width: 5%;
    margin-top: 1%;
    margin-left: 28.5%;
    margin-bottom: 50px;
}

#ferla .lamborghini img {
    width: 6%;
    margin-top: 1px;
    margin-left: 32%;
    margin-bottom: 30px;
}

#bula .bugatti img {
    width: 10%;
    margin-top: 1%;
    margin-left: 75%;
}

#mabe .bentley img {
    width: 8%;
    margin-left: 49%;
    margin-top: 1%;
}

#bula .land-rover img {
    width: 10%;
    margin-left: 4%;
}

#mclarenn .mclaren img {
    width: 10%;
    margin-top: 0;
    margin-left: 45%;
}

#rome .mercedes img {
    width: 6.5%;
    margin-top: 1%;
    margin-left: 18%
}

#popa .pagani img {
    width: 9%;
    margin-left: 52%;
    margin-top: 1%;
}

#popa .porsche img {
    width: 6%;
    margin-left: 17.7%;
    margin-top: 1%;
}

#rome .rolls-royce img {
    width: 13%;
    margin-top: 1%;
    margin-left: 32%;
}

#tesla .tesla-pic img {
    width: 5%;
    margin-top: 1%;
    margin-left: 47.9%;
}

#mabe .aston-martin img {
    width: 11%;
    margin-left: 16%;
}

#context-logo {
    text-align: center;
    float: inherit;
}

.cotext {
    padding-bottom: 5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.paragraph {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
}

.btn {
    background-color: rgb(4, 110, 0);
    color: #ffffff;
    padding: 14px 28px;
    font-size: 22px;
    font-family: 'Bebas Neue';
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
}

.btn:hover {
    background-color: #ffffff;
    color: rgb(0, 110, 18);
    border-radius: 8px;
}

/*Slider-Container*/
#slider-text {
    text-align: center;
    padding-top: 3%;
    font-family: 'Bebas Neue', cursive;
}

body {
    width: 100%;
    height: 90%;
    margin: 0 auto;
}

img {
    max-width: 80%;
}

.slider-container {
    height: 85%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    text-align: center;
}

.menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
}

.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}

.menu label:hover,
.menu label:focus {
    background: #1c87c9;
}

.slider-container {
    position: relative;
    padding-bottom: 50%;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s 0.75s;
}

[id^="slide"]:checked+.slide {
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

.slide-1 {
    background-image: url("../images/slide1.webp");
}

.slide-2 {
    background-image: url("../images/slide2.webp");
}

.slide-3 {
    background-image: url("../images/slide3.webp");
}

.slide-4 {
    background-image: url("../images/slide4.webp");
}

.slide-5 {
    background-image: url("../images/slide5.webp");
}

#text-over-slider {
    font-family: 'Times New Romans', sans-serif;
    font-size: large;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}


/*Slider-container end*/

/*Google Maps*/

#map iframe {
    position: relative;
    width: 100%;
    height: 453px;
}

/*footer*/

.footer {
    position: relative;
    background: #171717b9;
    width: 100%;
    height: 255px;
}

#footer1 {
    text-align: center;
    color: whitesmoke;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}

.footer-home {
    display: none;
    text-decoration: none;
}

#right-about-footer {
    float: right;
    font-family: 'Bebas Neue', cursive;
    margin-right: 2%;
    color: whitesmoke;
    text-align: right;
    font-weight: bold;
    text-shadow: 1px 2px 7px black;
    letter-spacing: 1px;
}

#right-about-footer h2 {
    padding-top: 30px;
}

#right-about-logo {
    text-align: center;
    padding-left: 5.1%;
}

#paragraph-footer {
    color: whitesmoke;
    font-family: 'Public Sans', sans-serif;
    text-shadow: 1px 2px 7px black;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-36%, -50%);
}

#left-about-footer {
    font-size: 100%;
    letter-spacing: 3px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    margin-left: 2%;
    text-shadow: 1px 2px 7px black;
}

#left-about-footer ol {
    float: left;
    list-style-type: none;
    margin-left: 20px;
    margin-top: 40px;
}

#left-about-footer a {
    text-decoration: none;
    color: whitesmoke;
}

#left-about-footer a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.active {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.social-networks-footer {
    text-align: center;
    text-shadow: 0px 2px 8px black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-43%, -50%);
}

.social-networks-footer li {
    display: inline;
}

.social-networks-footer i {
    font-size: 160%;
    padding: 25px;
    color: whitesmoke;
}


/* ABOUT US PAGE */

/*hero image and cover text*/

#hero-mclaren {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 0;
}

#picture-mclaren {
    height: 550px;
    width: 100%;
    background: url(../images/hero-mclaren.webp) no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;

    /*Animation when you load page*/
    animation: hero-zoom 3s;
    animation-fill-mode: forwards;

}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

#cover-mclaren {
    float: right;
    font-size: xxx-large;
    font-family: 'Bebas Neue', cursive;
    color: #c9c9b9;
    background-color: rgba(0, 0, 0, 0.089);
    bottom: 57px;
    position: absolute;
    left: 60%;
    text-shadow: 1px 2px 7px black;
}

/*content about-us*/

#cover-text-aboutus {
    padding-top: 3%;
    text-align: center;
    padding-bottom: 4px;
}

#cover-text-aboutus h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
}

#cover-text-aboutus p {
    font-size: 24px;
    font-family: 'Cuprum', sans-serif;
    text-align: center;
    margin: 0 250px 17px 250px;
}

#block-pre1 {
    text-align: center;
}

/* Contact Us Page */
#hero-contact {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 0;
}

#picture-contact {
    height: 550px;
    width: 100%;
    background: url(../images/hero-contact.webp) no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;

    /*Animation when you load page*/
    animation: hero-zoom 3s;
    animation-fill-mode: forwards;

}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

#cover-contact {
    float: right;
    font-size: xxx-large;
    font-family: 'Bebas Neue', cursive;
    color: #95c9d9;
    background-color: rgba(0, 0, 0, 0.089);
    bottom: 57px;
    position: absolute;
    left: 64%;
    background-color: rgba(0, 0, 0, 0.089);
    text-shadow: 1px 2px 7px black;
}

.map-and-details iframe {
    width: 100%;
    height: 450px;
}

.contact-us-details h1 {
    font-size: 50px;
    margin-left: 20%;
    font-family: 'Bebas Neue', cursive;
}

.contact-us-details p {
    font-size: 5px;
    margin-left: 20%;
    font-family: 'Bebas Neue', cursive;
}

/*contact-details*/

#introduction {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
}

#contact-details {
    height: 600px;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    letter-spacing: 1px;

}

#left-contact {
    padding-top: 30px;
    width: 22%;
    float: left;
}

#right-contact {
    padding-top: 30px;
    width: 22%;
    float: right;
}

#center-contact {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-contact-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-contact-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-contact-heading p {
    text-align: right;
}

.right-contact-heading h2 {
    text-align: right;
}

#center-logo {
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    padding-top: 25%;
    padding-left: 13%;
    width: 100%;
}

#find {
    margin-top: 1%;
    margin-left: 0;
    margin-right: 3%;
    margin-bottom: 5%;
}

#find h1 {
    margin-left: 43%;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

#find h2 {
    text-align: left;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    margin-left: 70px;
}

#find p {
    text-align: left;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-left: 5%;
}

#find hr {
    width: 70%;
    margin-left: 5%;
}

/*book a test drive*/

#hero-test-drive {
    background: url(../images/bookadrivetest.webp) no-repeat center center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

#test-drive-now {
    float: left;
    font-size: xxx-large;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.089);
    margin-top: 5%;
    margin-left: 7%;
    text-shadow: 1px 2px 7px black;

}

/*forum book a test drive*/

input[type=text],
[type=email],
select,
textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(34, 34, 34, 0.699);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff;
}

input[type=submit]:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
}

.container {
    border-radius: 10px;
    background-color: #4c4c4c;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 12%;
    margin-bottom: 2%;
}

.container label {
    color: #ffffff;
    text-shadow: 1px 2px 7px black;
}

#booking {
    color: rgba(34, 34, 34, 0.699);
}

/*Gallery pictures*/

#hero-gallery {
    height: 500px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 0;
}

#gallery-background {
    height: 550px;
    width: 100%;
    background: url(../images/hero-contact.webp) no-repeat center center;
    background-size: cover;
    position: relative;
    text-align: center;

    /*Animation when you load page*/
    animation: hero-zoom 3s;
    animation-fill-mode: forwards;

}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }

}

#cover-gallery {
    float: right;
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
    color: #d7def3;
    background-color: rgba(0, 0, 0, 0.089);
    bottom: 57px;
    position: absolute;
    left: 54%;
    text-shadow: 1px 2px 7px black;
}

/*gallery*/
.header {
    margin-left: 20%;
    margin-top: 3%;
    margin-bottom: 2%;
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
}

.column {
    margin: 0;
}

.column img {
    max-width: 100%;
}

/* 404 page */

#image-constraction {
    background: url(../images/404.png) no-repeat center center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    padding-bottom: 50%;
}

#cover-constraction {
    font-size: 130%;
    font-family: 'Public Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 400px;
    height: 180px;
    padding-bottom: 250px;
    bottom: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.103);
}

.back-home {
    background-color: rgb(206, 20, 20);
    color: #ffffff;
    padding: 14px 28px;
    font-size: 22px;
    font-family: 'Bebas Neue';
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
}

.back-home :hover {
    background-color: rgb(197, 197, 197);
    color: rgb(206, 20, 20);
    border-radius: 8px;
}

/*success page*/

#success-cover {
    background: url(../images/success.webp) no-repeat center center;
    height: 1300px;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    padding: 0;
}

#text-success {
    text-align: center;
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 20%;
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 7%;
    text-shadow: 1px 2px 7px black;
}

#text-success h1 {
    color: #ff5e00;
}

.success-button-press {
    background-color: rgb(4, 110, 0);
    color: #ffffff;
    padding: 14px 28px;
    font-size: 22px;
    font-family: 'Bebas Neue';
    cursor: pointer;
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
}

.success-button-press:hover {
    background-color: #ff0000;
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

/*Media queries*/

/* Extra large devices (large laptops and desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    #logo img {
        justify-content: flex-start;
    }

    #menu {
        font-size: 65%;
    }

    .social-networks {
        font-size: 9px;
    }

    #cover-text {
        width: 341px;
        height: 135px;
    }

    #welcome {
        font-size: 120%;
    }

    .cotext {
        font-size: 2rem;
    }

    .paragraph {
        font-size: 1rem;
    }

    .btn {
        font-size: 16px;
    }

    #slider-text {
        font-size: 20px;
    }

    #text-over-slider {
        font-size: 13px;
    }

    .footer {
        height: 200px;
    }

    #right-about-footer {
        font-size: 12px;
    }

    #left-about-footer {
        font-size: 12px;
    }

    .social-networks-footer {
        font-size: 10px;
    }

    #paragraph-footer {
        font-size: 12px;
    }

    #cover-text-aboutus pre {
        padding: 0;
    }

    /*About us*/

    #hero-mclaren {
        margin-top: 2%;
    }

    #cover-mclaren {
        font-size: xx-large;
    }

    #cover-text-aboutus p {
        margin: 0 100px 17px 100px;
    }

    /*Contact Us*/

    #hero-contact {
        margin-top: 2%;
    }

    #cover-contact {
        font-size: xx-large;
    }

    #find h1 {
        margin-left: 41%;
        font-size: 32px;
    }

    #find h2 {
        font-size: 20px;
    }

    #find p {
        font-size: 15px;
    }

    /*Book a test drive*/

    #hero-gallery {
        margin-top: 2%;
    }

    #cover-gallery {
        font-size: xx-large;
    }

    .header {
        font-size: large;
    }

    /*success page*/
    #text-success {
        font-size: x-large;
    }
}

/* Medium devices (landscape tablets, 880px and up) */
@media only screen and (max-width: 880px) {
    .social-networks i {
        font-size: 150%;
        padding: 10px;
        color: #000;
        margin-top: 18px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .social-networks {
        display: none;
    }

    #test-drive-now {
        font-size: xx-large;
    }

    #text-success {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    #menu {
        letter-spacing: 1px;
    }

    #logo img {
        width: 228px;
        height: 50px;
    }

    #logo,
    #menu {
        line-height: 54px;
    }

    #ferla .ferrari img {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #ferla .lamborghini img {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #mclarenn .mclaren img {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #mabe .aston-martin img {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #mabe .bentley img {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #bula .land-rover img {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    #bula .bugatti img {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .cotext {
        font-size: 1.25rem;
    }

    .paragraph {
        font-size: 1rem;
    }

    .btn {
        width: 23%;
        padding-top: 11px;
        font-size: small;
    }

    #popa .porsche img {
        width: 24%;
        margin-left: 37.3%;
    }

    #popa .pagani img {
        width: 30%;
        margin-left: 35.5%;
    }

    #rome .rolls-royce img {
        width: 45%;
        margin-left: 8.6%;
    }

    #rome .mercedes img {
        width: 25%;
    }

    #tesla .tesla-pic img {
        width: 20%;
        margin-left: 40%;
    }

    #slider-text {
        font-size: 20px;
    }

    #text-over-slider {
        font-size: 15px;
    }

    #text-success {
        padding-top: 64px;
        padding-bottom: 16px;
        font-size: large;
    }

    /*footer*/

    .social-networks-footer i {
        font-size: 131%;
        padding: 15px;
    }

    /*contact us page*/

    #contact-us {
        font-size: 30px;
    }

    #introduction {
        font-size: 20px;
    }

    .left-contact-heading h2 {
        font-size: 20px;
    }

    .left-contact-heading p {
        font-size: 15px;
    }

    #left-contact {
        width: 70%;
    }

    #right-contact {
        width: 70%;
        font-size: 15px;
    }

    #right-contact p {
        font-weight: bold;
    }

    #find h1 {
        font-size: 23px;
        margin-left: 38%;
    }

    #center-logo img {
        max-width: 75%;
        padding-top: 14%;
    }

    #find h2 {
        font-size: 20px;
        padding-top: 6%;
    }

    #find p {
        font-size: 17px;
    }

    /*book a test drive*/
    .container {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    /*gallery page*/
    #cover-gallery {
        font-size: large;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 492px) {

    #menu {

        float: none;
        display: block;
        margin: 10px 55px -15px 55px;
    }

    #logo img {
        float: none;
        margin: 10px 140px 1px 140px;

    }

    #cover-text {
        width: 269px;
        height: 89px;
    }

    #left-about-footer {
        font-size: 9px;
    }

    #right-about-footer {
        font-size: 9px;
    }

    #paragraph-footer {
        font-size: 9px;
    }

    .social-networks-footer {
        font-size: 7px;
    }

    #map iframe {
        height: 70%;
    }

    /*about us*/
    #cover-text-aboutus h1 {
        font-size: x-large;
    }

    #cover-text-aboutus p {
        margin: 10px 10px 19px 10px;
        font-size: large;
    }

    /*contact us*/
    #find h1 {
        font-size: 20px;
        margin-left: 38%;
    }

    #find h2 {
        font-size: 16px;
    }

    #find p {
        font-size: 12px;
    }

    .map-and-details iframe {
        height: 70%;
    }

    #center-logo img {
        padding-top: 23%;
    }

    /*book a test drive*/

    .container {
        margin-left: 5%;
        margin-right: 5%;
    }

    /*gallery page*/
    #cover-gallery {
        font-size: medium;
    }

    .header {
        font-size: small;
        padding: 5% 0% 5% 0%;
    }

    .column {
        margin: 0;
    }

    .column img {
        max-width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 360px) {
    #menu {
        margin: 1px 15px -15px 15px;
    }

    #content img {
        margin-left: 23px;
    }

    .btn {
        width: 45%;
    }

    #left-about-footer {
        display: none;

    }

    #right-about-footer {
        text-align: center;
    }

    .footer-home {
        background-color: rgb(75 177 185);
        color: #ffffff;
        padding: 10px 10px;
        font-size: 22px;
        font-family: 'Bebas Neue';
        cursor: pointer;
        display: inline-block;
        border-radius: 100%;
        margin: 30px 10px 0px 31px;
        text-decoration: none;
    }

    .footer-home:hover {
        background-color: #ffffff;
        color: rgb(75 177 185);
        border-radius: 100%;
    }

    .social-networks-footer i {
        padding: 10px;
    }
}